{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="JhonProyecto\Public\Css\Style.css">
</head>
<body>
    <h1 class="Titulo">Arquitecura MTV</h1>

    <h2>¿Que Producto Desea Ingresar?</h2>
    <label >Codigo</label>
    <input type="text" name="Codigo" required>

    <label >Descripción</label>
    <input type="text" name="Descripción" required>

    <label >Presentación</label>
    <input type="text" name="Presentación" required>

    <label >Valor Unitario</label>
    <input type="number" name="Valor Unitario" required>

    <label >Stock</label>
    <input type="number" name="Stock" required>

    <label >Activo</label>
    <input type="number" name="Activo" required>

    <input type="submit" name="Enviar" value="Enviar">
</body>
</html>